.logo {
    position: absolute;
    width: 265px;
    height: 240px;
    left: 10px;
    top: 0px;
    
    background: url(/static/rhett.png);
    background-repeat: no-repeat;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
  
    position: absolute;
    width: 565px;
    height: 40px;
    left: 826px;
    top: 39px;
  
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  
    color: #000000;
  
    justify-content: space-between;   
  }
  
  .banner h1 {
    position: absolute;
    width: 355px;
    height: 90px;
    left: 542px;
    top: 311px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 112px;
    
    color: #FFFFFF;
  }
  
  .red-line {
    position: absolute;
    width: 90px;
    height: 15px;
    left: 121px;
    top: 725px;

    background: #EF232D;
    border-radius: 3px;
}

.red-line p {
    position: absolute;
    width: 869px;
    height: 90px;
    left: 0px;
    top: -35px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 108px;

    color: #000000;
}

.circle-1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 91px;
    top: 920px;

    border-radius: 125px;
}

.jacob {
    position: absolute;
    width: 250px;
    height: 307px;
    left: 91px;
    top: 863px;
    
}

.jacob-p {
  position: absolute;
width: 350px;
height: 26px;
left: 50px;
top: 1150px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #EF232D;
}

.jacob-desc {
  position: absolute;
width: 350px;
height: 76px;
left: 50px;
top: 1200px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.circle-2 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 411px;
    top: 920px;

    border-radius: 125px;
}

.dora {
    position: absolute;
    width: 250px;
    height: 307px;
    left: 411px;
    top: 863px;
}

.dora-p {
  position: absolute;
width: 350px;
height: 26px;
left: 350px;
top: 1150px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #EF232D;
}

.dora-desc {
  position: absolute;
width: 350px;
height: 118px;
left: 350px;
top: 1200px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.circle-3 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 731px;
    top: 920px;
}

.jess {
    position: absolute;
    width: 250px;
    height: 307px;
    left: 731px;
    top: 863px;
}

.jess-p {
  position: absolute;
width: 350px;
height: 26px;
left: 700px;
top: 1150px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #EF232D;
}

.jess-desc {
  position: absolute;
width: 350px;
height: 118px;
left: 700px;
top: 1200px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.circle-4 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 82px;
    top: 1350px;
}

.snyder {
    position: absolute;
    width: 250px;
    height: 270px;
    left: 82px;
    top: 1329px;
}

.snyder-p {
  position: absolute;
width: 350px;
height: 26px;
left: 50px;
top: 1600px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #EF232D;
}

.snyder-desc {
  position: absolute;
width: 350px;
height: 118px;
left: 50px;
top: 1650px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.circle-5 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 411px;
    top: 1350px; 
}

.erin {
    position: absolute;
    width: 250px;
    height: 290px;
    left: 411px;
    top: 1310px; 
}

.erin-p {
  position: absolute;
width: 350px;
height: 26px;
left: 350px;
top: 1600px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #EF232D;
}

.erin-desc {
  position: absolute;
width: 350px;
height: 118px;
left: 350px;
top: 1650px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.dropbtn {
    color: black;
    padding: 0px;
    font-size: 16px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #000000;

    justify-content: space-between;   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #EF232D;}