<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta title="landing-page">
    <link rel="stylesheet" href="/static/ambassadors.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="logo"></div>

    <div class="navbar">
        <a>About</a>
        <a href="/templates/ambassadors.html">Ambassadors</a>
        <a href="/templates/events.html">Events</a>
        <div class="dropdown">
            <button class="dropbtn">Resources</button>
            <div class="dropdown-content">
              <a href="/templates/clubs.html">CS Clubs</a>
              <a href="/templates/advising.html">Advising</a>
              <a href="/templates/links.html">Useful Links</a>
              <a href="/templates/mentorship.html">Mentorship</a>
            </div>
          </div>
        <a href="/templates/contacts.html">Contact</a>
    </div>

    <div class="banner">
        <img src="/static/ambassadorsheader.png" style="
            position: absolute;
            width: 1490px;
            height: 554px;
            left: -10px;
            top: 93px;">
        <h1>Our Ambassadors</h1>
    </div>

    <div class="red-line">
        <p>Our Officers</p>
    </div>

    <img class="circle-1" src="/static/ambassador circle.png"> 
    <img class="kristen" src="/static/Rectangle 31.png">

    <img class="circle-2" src="/static/ambassador circle.png">
    <img class="jack" src="/static/Rectangle 28.png">

    <img class="circle-3" src="/static/ambassador circle.png">
    
    <img class="circle-4" src="/static/ambassador circle.png">

    <img class="circle-5" src="/static/ambassador circle.png">

    <img class="circle-6" src="/static/ambassador circle.png">

    <img class="circle-7" src="/static/ambassador circle.png">

    <img class="circle-8" src="/static/ambassador circle.png">
    

    <div class="red-line-2">
        <p>Our Ambassadors</p>
    </div>

    <img class="circle-9" src="/static/ambassador circle.png">

    <img class="circle-10" src="/static/ambassador circle.png">

    <img class="circle-11" src="/static/ambassador circle.png">

    <img class="circle-12" src="/static/ambassador circle.png">

    <img class="circle-13" src="/static/ambassador circle.png">

    <img class="circle-14" src="/static/ambassador circle.png">

    <img class="circle-15" src="/static/ambassador circle.png">

    <img class="circle-16" src="/static/ambassador circle.png">

    <div class="lower-banner">
        <p>Interested in becoming an ambassador?</p>
        <button>APPLY NOW</button>
    </div>
</body>
</html>