<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta title="landing-page">
    <link rel="stylesheet" href="/static/contacts.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="logo"></div>

    <div class="navbar">
        <a>About</a>
        <a href="/templates/ambassadors.html">Ambassadors</a>
        <a href="/templates/events.html">Events</a>
        <div class="dropdown">
            <button class="dropbtn">Resources</button>
            <div class="dropdown-content">
              <a href="/templates/clubs.html">CS Clubs</a>
              <a href="/templates/advising.html">Advising</a>
              <a href="/templates/links.html">Useful Links</a>
              <a href="/templates/mentorship.html">Mentorship</a>
            </div>
          </div>
        <a href="/templates/contacts.html">Contact</a>
    </div>

    <div class="banner">
        <img src="/static/contactheader.png" style="
            position: absolute;
            width: 1490px;
            height: 554px;
            left: -10px;
            top: 93px;">
        <h1>Contact</h1>
    </div>

    <h1 class="first-line">Fill out the form below, or email us at</h1>
    <h1 class="second-line">bucsambassadors@gmail.com</h1>

    <div class="red-line">
        <p>Send Us A Message</p>
    </div>

    <form method="POST"> 
        <label for="name" class="name">NAME</label><br>
        <input type="text" id="name" name="name">
        <label for="email" class="email">EMAIL</label><br>
        <input type="text" id="email" name="email">
        <label for="website" class="website">WEBSITE</label>
        <input type="text" id="website" name="website">
        <label for="message" class="message">MESSAGE</label><br>
        <input type="text" id="message" name="message">
    </form>

    

</body>
</html>
